.jumbotron{
  background-image: url('banner_art.jpg');
}

.navbar-default {
  background-color: white;
  border-color: orange;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
  color: grey;
}
