.jumbotron{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/top_banner.jpg');
  color: #fff;
  background-size: cover;
  background-position: center;
  height: 70vh;
  top: 50%;
  left: 50%;
}
.jumbotron.connect {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('img/lotrwarbanner.jpg');
    color: #fff;
    background-size: cover;
    background-position: center;
    height: 70vh;
    top: 50%;
    left: 50%;
}
.jumbotron h1 {
  padding-top: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
  margin: 0.67em 0;
}

.navbar-default {
  background-color: white;
  border-color: #3498db;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
  color: grey;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

.footer-container {
	padding-top: 40px;
}

.offwhite {
	background-color: #F8F8FF;
}

.title {
	margin-top: 0;
	padding-top: 15px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	font-size: 52px;
	text-align: center;
}

.title::after {
	content: '';
	height: 1px;
	background: #3498db;
	display: block;
	width: 30%;
	margin: 0 auto;
}
.btn.btn-default  {
	background-color: #3498db;
	font-weight: 400;
	color: white;
}

.races {
    padding-bottom: 20px;
}

.races img {
    
	width: 200px;
	height: 300px;
    padding-left: 1px;
    margin-left: 1px;
    
}

.races h2 {
	text-align: center;
}

.uruk-hais
{
    min-height: 300px;
    width: auto;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/race_urukhai.jpg);
    color: #fff;
    background-size: cover;
    background-position: center;
}